<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	
	<nlog>
		<targets>
			<target name="file" type="File" fileName="${basedir}/${date:cached=True:format=yyyy-MM-dd HH-mm-ss.fff}.log" layout="${level}: ${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=2}" />
			<target name="console" type="ColoredConsole" layout="${message} ${exception:format=Message,StackTrace:innerFormat=Message,StackTrace:maxInnerExceptionLevel=2}" />
		</targets>
		<rules>
			<logger name="*" minLevel="Trace" appendTo="file"/>
			<logger name="*" minLevel="Trace" appendTo="console"/>
		</rules>
	</nlog>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>